.breadcrumb .first+.breadcrumb-step {
	/* Hide first breadcrumb step from subsites. */
	display: none;
}

/* Unordered list with employee information. */
.employee-list li {
	/* New line for list items, when there is an image. */
	clear: both;
}
.employee-list img {
	/* Move images to the right and create space between image and next list item. */
	float: right;
	margin-top: .294118em; /* Align text top with image top. */
}

/* Calendar view */
.calendar {
	position: relative;
	margin-left: -20px;
	margin-right: -20px;
	background-color: #e9e8e4;
	padding: 20px 0 0;
}
.event {
	margin-bottom: 20px;
	padding: 20px 20px 10px;
	background: #fff;
}
.event a {
	font-weight: bold;
	font-size: 14px;
	color: #35561d;
}
.event .manchet {
    padding: 10px 0;
}
.calendar .months {
	margin: 20px 0;
	padding: 5px 0;
}
.calendar .months a {
	padding-right: .5em;
	color: #35561d;
}
.calendar .months a.active {
	font-weight: bold;
}
/* List boxes */
.box-list ul li a {
	background-position: 0 2px;	
}
.box-list .date {
	color: #464949;
}
.box-list .box-link a {
	display: block;
	background-position: 7px 11px;
	margin-left: 3px;
	padding: 8px 0 8px 28px;
	height: 18px;
	font-weight: bold;
	text-decoration: none;
}
.box-list .box-link a span {
	line-height: 22px;
}

/*Responsive */
/*  */
@media only screen and (max-device-width: 480px), only screen and (max-width: 767px) {
	
	/**
	*** Display images on pages
	**/
	.page-graphic.hidden-phone {
		display: block !important;
		width: 100%;
	}
	.grid_6 .banner-modul-container,
	.grid_6 #main-image,
	.banner-modul-container .slides img {
		height: auto;
		margin: 0 auto;
	}
	#main-image img {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.banner-modul-container .slides li {
		background: #ffffff;
	}
	.media-description-text.hidden-phone {
		display: block !important;
	}
	.grid_6 .banner-modul,
	.grid_6 .media-description,
	.grid_6 .media-description-text {
		width: 100%;
	}
	.banner-modul .media-description {
		height: auto;
	}
	.media-description p,
	.media-description-text p {
		height: auto;
	}
	/* Navigation and counter */
	#content .flex-direction-nav {
		position: relative;
		bottom: 0;
		top: 1em;
	}
	#content .flex-direction-nav,
	#content .gallery-phone .flex-direction-nav,
	#content .pgallery-container .flex-direction-nav {
		height: 5em;
	}
	#content .flex-direction-nav .flex-prev,
	#content .gallery-phone .flex-direction-nav .flex-prev,
	#content .flex-direction-nav .flex-next,
	#content .gallery-phone .flex-direction-nav .flex-next	{
		top: 1em;
		height: 22px;
		margin-top: 0;
		padding-top: 0;
		line-height: 22px;
	}
	#content .flex-direction-nav .flex-next {
		padding-right: 40px;
		background-position: 62px 0;
	}
	#content .grid_6 .page-graphic.hidden-phone .gallery-link {
		position: relative;
		top: -2.5em;
		width: 20%;
		margin: 0 auto;
	}
	/**
	*** EOF images on pages
	**/
}
