/* Dagsordre */

.bilag-list li span{
	background: #35561d;
}

.agenda-title a,
.print-link,
.bilag-list li a{
	color: #35561d;
}



.agenda-title{
	background: url(/media/system/kampagne_A3/bullets/arrow_large.png) right 20px no-repeat;
}

.agenda-item .selected{
	background: url(/media/system/kampagne_A3/bullets/submenu-open.png) right 20px no-repeat;
}


/*N

.agenda-closed .agenda-title{
	background:url(/media/system/H3_tema/dagsorden/locked-icon.png) right 20px no-repeat
}

/*A-Z Sitemap*/
#a-z{
	background: #35561d;
}

#main-text #a-z a{
	color: #e7e7e8;
}


/*Main Body*/
#main-box-slider .flex-direction-nav .flex-next{
	background-repeat:no-repeat;
	padding-right: 26px;
}

#section-middle-top ul, #section-middle-bottom ul{height:22px;}


/*Header + baggrund billede*/
.layout-standard .title{ color: #35561d;font-weight: 800;
font-family: arial;
font-size: 16px;}
body {
	background: #E9E8E4;
}

.Forside #logo, .KampagneDokument #logo, .hidden-phone #logo {
margin-top: 10px;
}

.Forside #header  {
    background: #E9E8E4 url(/media/system/kampagne/campaign-header.png) top center repeat-x !important;
}

#header {
    background: #E9E8E4 url(/media/system/kampagne/campaign-subpages-header.png) top center repeat-x;
}
#section-middle-top h2 a{background:none !important;}
#box-slider-wrap .lg-Next  .flex-direction-nav .flex-next{
	background-position: 43px 0px;
	float: right;
	width: 31px;
}


#news-box-slider .flex-direction-nav .flex-next{background-position:0;}

#section-top-image {
	background-color: #444444;
}

#section-name{color:#505050}

/*Search form*/
 #section-search-form { 
    background: #505050;
}


#search-filter .current a{
/*	background: #457025 !important;*/
	background: #2d4a18 !important;
	color: #fff;
}

#search-filter a:hover {
/*	background: #457025;*/
	background:#2d4a18;
	color: #fff;
}

#search-filter a{
	/*color: #457025;*/
	color: #2d4a18;
}


.btn-search-submit {
    background: #457025 url(/media/system/kampagne_A3/bullets/search.png) 0px 1px no-repeat;
}

/*news link*/

.news-link a {
	background-image: url(/media/system/kampagne_A3/bullets/naeste.png);
	height: 21px;
	width: 21px;
	padding: 3px 5px 5px 27px;
}

.news-link{ height: 26px;}

/*Infobokse, listbokse, scriptbokse*/
#nav li.kampagne-chat-link img{
    margin-top: -8px;
	margin-left: 8px;
}


 .layout-standard h2 a{
    color: #35561d;
	font-weight: 800;
	font-family: arial;
	font-size: 16px;
}

 .layout-standard h2,
 .box h2{
	color: #35561d;
 	font-weight: 800;
	font-family: arial;
	font-size: 16px;
 }

 .box.purple-layout h2,
 .box.orange-layout h2,
 .box.dark-layout h2,
 .red-layout h2,
 .box.purple-layout h2,
 .box.orange-layout h2,
 .box.dark-layout h2,
 .red-layout h2 {
	color: #FFFFFF !important; 
}

 .box.purple-layout li,
 .box.orange-layout li,
 .box.dark-layout li{
	color: #FFFFFF;
}

 #main-text .feed-item-title h3,
 .feed-item-title h3,
 .feed-item p,
  #main-text .feed-item p,
 .feed-item .read-more {
	color:#666;
}

.box-list .box-link {
    background: #35561d;
}

.layout-standard .box-link {
    background: #35561d;
}

.box-list {
    background: #fff;
    color:#666;
}



.oliven-layout h2{color: #fff}
.box-list .box-link a{ color: #FFFFFF;}
.box-list .title{color:#35561d}


#kampagne-site .layout-standard .box-link .box-link-content{
    background: url(/frontend/images/hovedsite/bullets/green-layout/green-inverted.png) 0 0 no-repeat;
    background-position: 7px 11px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin-left: 3px;
}

.purple-layout .box-link .box-link-content,
.orange-layout .box-link .box-link-content,
.oliven-layout .box-link .box-link-content{
	padding-left: 25px;
	margin-left: 3px;
}

#kampagne-site .layout-standard .box-link .box-link-content{
    padding-left: 28px;
}

.purple-layout .box-link .box-link-content,
.orange-layout .box-link .box-link-content,
.oliven-layout .box-link .box-link-content{background-position: 7px 11px;padding-left: 28px;}

.dark-layout .box-link .box-link-content {
	margin-left: 3px;
	background-position: 7px 11px;
	padding-left: 28px;
}

.box-list .box-link a {
    background: url(/frontend/images/hovedsite/bullets/green-layout/green-inverted.png);
    background-position: 0 7px;
    background-repeat: no-repeat;
	color: #FFFFFF;
}

.red-layout{
	background: #C21712;
}

.red-layout .box-link .box-link-content{
	margin-left: 10px;
    padding: 8px 0px 8px 21px;
}


.layout-standard ul li {
	background: url(/media/system/kampagne_A3/bullets/naeste-small.png) 0 0 no-repeat !important;
}

.layout-standard ul li{background-position:20px 3px !important;}

.feed-item .read-more{
	background: url(/media/system/kampagne_A3/bullets/naeste-small.png) 60px 1px no-repeat !important;
}

/*Nyheder box på forsiden*/

#news-box-slider .flex-direction-nav .flex-next, .flex-direction-nav .flex-next{
	background-image: url(/media/system/kampagne_A3/bullets/naeste.png);
	height:21px;
}

.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev  {
	color: #515151;
	padding-top: 3px;
	font-weight: 800;
	font-size: 16px;
}

.flex-direction-nav .flex-next {
	background-position: 61px 0px;
	background-repeat: no-repeat;
	padding-right: 61px;
}

.flex-direction-nav .flex-prev {
	padding-left: 30px;
}

#news-box-slider .flex-direction-nav .flex-prev,  .flex-direction-nav .flex-prev{
	background-image: url(/media/system/kampagne_A3/bullets/forrige.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height:21px;
}

#search-field-label {
	color: #737373;
	font-style: normal;
	font-weight: 800;
	font-family: arial;
}

.rss-feed {
    background: url("/frontend/images/hovedsite/rss-feed.png") no-repeat scroll 0 0 transparent;
}

/*infobox slider på forsiden*/

.flex-control-nav a:hover {
	background: url(/media/system/kampagne_A3/bullets/current-slide.png);
}

.flex-control-nav a.flex-active {
	background-position: 0px 0px;
	background: url(/media/system/kampagne_A3/bullets/current-slide.png);
}

.flex-control-nav a {
	background: url(/media/system/kampagne/bullets/normal-slide.png);
}

/*Footer*/

 #nav-bottom {
	background-color: #444444;
}

 #middle-footer {
	background-color: #505050;
}

 #footer .nav-info a {
	background-image: url(/media/system/kampagne_A3/bullets/naeste.png);
	background-position: 0 0;
	padding: 5px 3px 6px 26px;
}


 #footer li li a {
	background: url(/media/system/hovedsite/bullets/white-arrow.png) no-repeat 0px 4px;
	padding-left: 17px;
}


/* Undersider */

.subpage-title,
.breadcrumb ul li a,
.media-description p, .media-description-text p {
    color:#35561d;
}

.subpage-title {
	font-weight: 800;
	font-family: arial;
}

.breadcrumb .first+.breadcrumb-step {
	/* Hide first breadcrumb step from subsites. */
	display: none;
}

 #main-text a, .nyhed a {
	color:#35561d;
}

.nyhed h2 {
	color:#35561d;
}

.nyhed .mere-link i,
.nyhed .mere-link span:not(.read-more-text) {
    background: url("/media/system/kampagne_A3/bullets/arrow_small.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin-top: 6px;
    padding: 0 0 0 10px;
    width: 10px;
}

#agenda-dd #filter-dropdown span.outer-filter {
    background: url("/media/system/kampagne_A3/bullets/dropdown_groen.png") no-repeat scroll right 0px #DEDEDE !important;
}

#filter-dropdown span.outer-filter {
    background: url("/media/system/kampagne_A3/bullets/dropdown_groen.png") no-repeat scroll right 0px #DEDEDE !important;
}
.Forside .link-box ul li a,
.Forside .link-box h2{
    color:#fff;
}

.layout-standard ul li {
	background: url(/media/system/kampagne_A3/bullets/naeste-small.png) 15px 2px no-repeat;
}




.box-list ul li a {
    background: url(/media/system/kampagne_A3/bullets/naeste-small.png) 0 18px no-repeat;
}

/*Submenu*/
#content #sub-nav {
	background: #505050;
}

.sub-menu .open a{padding-top:3px;padding-bottom:3px;}


.sub-menu,#sub-nav ul {
	background-color: #616161
}

.sub-menu i {
	background: url(/media/system/kampagne_A3/bullets/naeste.png) no-repeat 0px -0px;
	padding: 0;
	width: 21px;
	height: 21px;
}

 #nav li a {
    color: #555555;
	background: url(/media/system/kampagne_A3/bullets/naeste.png);
	background-repeat:no-repeat;
	padding: 3px 10px 9px 27px;
	margin-left:0;
}

#section-middle-top {
	background: #353535;
}

#section-middle-bottom {
	background: #505050;
}


#section-middle-top h2 a{
	background:none !important;
}

 .sub-menu li a {
	margin-top: 3px;
	background: url(/media/system/kampagne_A3/bullets/naeste.png) no-repeat 0px 0px;
	padding: 4px 5px 2px 25px;
}

 .sub-menu ul li.open ul li a, .sub-menu-top a, .inpath a {
	background: url(/media/system/hovedsite/bullets/white-arrow.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding: 0 0 0 15px;
}

 .sub-menu .open a{
	background: url(/media/system/kampagne_A3/bullets/submenu-open.png) no-repeat 0px 0px;
}

/*Feedback*/


 .feedback-content {
	background: #656565;
}

.feedback-side-btn.active, .feedback-side-btn:hover, .feedback-side-btn:focus{
	background: #FBB82E url("/frontend/images/hovedsite/buttons/feedback-button.png") no-repeat 1px 6px
}

.feedback-btn-close{
		background-position: 58px -3px;
}
/*Listboks*/

.rss-feed {
    background: url("/media/system/shared/rss_orange.png") no-repeat scroll 0 0 transparent;
}

/*Sitemap*/

#sitemap .open-icon {
  background: url(/frontend/images/hovedsite/bullets/green-layout/naeste-small.png) 0 0 no-repeat;
  padding: 1px;
}

#sitemap .close-icon {
  background: url(/frontend/images/hovedsite/bullets/green-layout/naeste-small-open.png) 0 0 no-repeat;
  padding: 1px;
}

#sitemap ul ul .open-icon{
     background: url(/frontend/images/hovedsite/bullets/green-layout/naeste-small.png) 0 0 no-repeat;
}

#sitemap ul ul .close-icon {
     background: url(/frontend/images/hovedsite/bullets/green-layout/naeste-small-open.png) 0 0 no-repeat;
}

/*Responsive */
/*  */
@media only screen and (max-device-width: 480px), only screen and (max-width: 767px) {
    #outer-wrapper {
        background: #656565;
    }

    .Forside #header {
        background: #505050 !important;
    }
	
    /* Off canvas menu */
    .js-ready #phone-nav,
    #phone-search-form-wrapper {
        background: #656565;
    }

        #phone-search-form-wrapper .btn-search-submit,
        #phone-search-form-wrapper-frontpage .btn-search-submit {
            background: #35561d url(/media/system/kampagne_A3/mobil/search-smaller.png) 50% 50% no-repeat;
        }
    /* Footer */
    #mobil-footer-wrapper {
        background: #444444;
        float: left;
        width: 100%;
    }

        #mobil-footer-wrapper a {
            color: #FFFFFF;
        }
}
#nav a:hover, #nav .current a {
    color: #35561d !important;
}

.box-list.orange-layout .box-link a,
.box-list.red-layout .box-link a,
.box-list.oliven-layout .box-link a,
.box-list.dark-layout .box-link a,
.box-list.blue-layout .box-link a,
.box-list.green-layout .box-link a,
.box-list.layout-standard .box-link a,
.box-list.purple-layout .box-link a{
    padding: 8px 0px 8px 21px;
}

.box-list.orange-layout .box-link,
.box-list.red-layout .box-link,
.box-list.dark-layout .box-link,
.box-list.green-layout .box-link,
.box-list.oliven-layout .box-link,
.box-list.blue-layout .box-link,
.box-list.layout-standard .box-link,
.box-list.purple-layout .box-link{
    padding: 11px 0px 6px 10px;
}

 .box.purple-layout h2,
 .box.orange-layout h2,
 .box.dark-layout h2,
 .red-layout h2{
	color: #FFFFFF !important; 
}

.green-layout .box-link .box-link-content{
  background: url(/frontend/images/hovedsite/bullets/green-layout/naeste-small.png) 10px 11px no-repeat;
  padding-left: 30px !important;
  margin-left: 0 !important;
}

 .box.blue-layout .box-link .box-link-content{
    margin-left: 10px !important;
 }  


 
 .box.layout-standard .box-link .box-link-content,
 .box-list.layout-standard .box-link .box-link-content{
     color: #fff !important;
     background: url(/media/system/hovedsite/bullets/white-arrow.png);
     background-position: 0 14px;
     background-repeat: no-repeat;
     padding-left: 18px;
 }

 .links-service li{
      background: url(/frontend/images/hovedsite/bullets/green-layout/naeste-small.png) 0 5px no-repeat;
}

.box-service, .service-wrap{
    background: #2d6321;
}

.box-list.layout-standard .box-link a{
    text-decoration: none;
}

.box-list.layout-standard .box-link a:hover{
    text-decoration: underline;
}


.box-list.orange-layout .box-link a,
.box-list.purple-layout .box-link a,
#main-box-slider .dark-layout .box-link a,
.box-list.red-layout .box-link a,
.box-list.oliven-layout .box-link a,
.box-list.green-layout .box-link a,
.box-list.blue-layout .box-link a,
.box-list.layout-standard  a{
    text-decoration: none;
}

.box-list.orange-layout .box-link a:hover,
.box-list.purple-layout .box-link a:hover,
#main-box-slider .dark-layout .box-link a:hover,
.box-list.oliven-layout .box-link a:hover,
.box-list.red-layout .box-link a:hover,
.box-list.green-layout .box-link a:hover,
.box-list.blue-layout .box-link a:hover,
.box-list.layout-standard a:hover{
    text-decoration: underline;
}

.box-list.dark-layout ul li a{
    	background: url(/frontend/images/hovedsite/bullets/dark-layout/dark-inverted.png) 0 0 no-repeat;
}

.box-info.dark-layout ul li{
	background: url(/frontend/images/hovedsite/bullets/dark-layout/dark-inverted.png) 18px 2px no-repeat;
}

.box-list.purple-layout ul li a {
   	background: url(/frontend/images/hovedsite/bullets/purple-layout/purple-inverted.png) 0 0 no-repeat;
}

.box-list.layout-standard ul li a{
    	background: url(/media/system/kampagne_A3/bullets/naeste-small.png) 0 0 no-repeat;
}

.box-list.orange-layout ul li a{
     	background: url(/frontend/images/hovedsite/bullets/orange-layout/orange-inverted.png) 0 0 no-repeat;
}

.box-list.red-layout ul li a{
     	background: url(/frontend/images/hovedsite/bullets/red-layout/red-inverted.png) 0 0 no-repeat;
}

.box-list.oliven-layout ul li a{
     background: url(/frontend/images/hovedsite/bullets/oliven-layout/olive-inverted.png) 0 0 no-repeat;
}

.box-list.green-layout ul li a{
     	background: url(/frontend/images/hovedsite/bullets/green-layout/green-inverted.png) 0 0 no-repeat;
}

.box-list.blue-layout ul li a{
     	background: url(/frontend/images/hovedsite/bullets/blue-layout/blue-inverted.png) 0 0 no-repeat;
}

.box-link .box-link-content,
.box.persons-box .box-link a span{
	font-weight: bold !important;
}

.box-link{
	width: 188px;
}

.box.persons-box{
	background: #444;
}


.box.persons-box .box-link{
	    padding-right: 13px;
    padding: 8px 0 8px 0px;
}


.box.persons-box .box-link a{
	color: #555;
	text-decoration: none;
	padding: 0;
    	padding-left: 7px;
}


.box.persons-box .box-link a:hover,
.box.persons-box .box-link a:focus{
	text-decoration: underline;
}

.box.persons-box .box-link a span{
	background: url(/frontend/images/hovedsite/bullets/dark-layout/grey-bullet-white-arrow.png) 0 0 no-repeat;
    margin-left: 0px;
    padding: 1px 0 8px 21px;
}

/* ==|== Jobs oversigt ======================================================== */
#jobs-overview .agenda-title {
    background-color: #447024;
}
#jobs-overview ul li {
    background: #E3EADE;
    background: rgba(68, 112, 36, 0.15);
}
